fastapi
uvicorn
websockets
ultralytics
torch
transformers
chromadb
opencv-python
numpy
pillow
einops
torchvision
torch-geometric
python-multipart
gradio
requests
scikit-image
pytorch-lightning
timm
kornia
wandb
yacs
